/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_de.h"

#define SYMBOL 1
#define EXTRA 2
#define UMLAUT 3
#define NAV 4
#define FUNC 5
#define MOUSE 6
#define SYSTEM 5

&sk {
    quick-release;
};
&sl {
    release-after-ms = <5000>;
};

/ {
        behaviors {
            hm: home_row_mods {
                  compatible = "zmk,behavior-hold-tap";
                  label = "HOMEROW_MODS";
                  #binding-cells = <2>;
                  tapping-term-ms = <200>;
                  quick-tap-ms = <0>;
                  flavor = "balanced";
                  bindings = <&kp>, <&kp>;
            };
            sm: hold_tap_sk_mo {
                  compatible = "zmk,behavior-hold-tap";
                  label = "HOLD_TAP_SK_MO";
                  #binding-cells = <2>;
                  tapping-term-ms = <300>;
                  bindings = <&mo>, <&sk>;
            };
        };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                    label = "Base";
// -----------------------------------------------------------------------------------------------------
// | ALT       |  Q  |  W  |  E  |  R  |  T  |     |  Z  |  U   |  I  |  O  |  P          | CAPS_WORD  |
// | TAB       |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K  |  L  |  sl SYMBOL  | sl SYMBOL  |
// | sl UMLAUT |  Y  |  X  |  C  |  V  |  B  |     |  N  |  M   |  ,  |  .  |  -          | sl UMLAUT  |
//                         | BSP | SPC | LSH |     | LCT | RET  | ESC |
                        bindings = <
   &kp LALT    &kp DE_Q         &kp W       &kp DE_E    &kp R          &kp T           &kp DE_Z     &kp U        &kp I          &kp O        &kp P                &caps_word
   &kp TAB     &kp A            &hm LSHFT S &hm LGUI D  &mt LALT F     &hm LCTRL G     &hm RCTRL H  &hm LALT J   &hm RGUI K     &hm RSHFT L  &sl SYMBOL           &sl SYMBOL
   &sl UMLAUT  &lt UMLAUT DE_Y  &kp X       &kp C       &kp V          &kp B           &kp N        &hm RALT M   &kp DE_COMMA   &kp DE_DOT   &lt UMLAUT DE_MINUS  &sl UMLAUT
                                            &kp ESC     &lt NAV SPACE  &sk LSHFT       &sk RCTRL    &kp RET      &kp BSPC
                        >;
                };
                symbols_layer {
                    label = "Sym";
// ------------------------------------------------------------------------------------------
// | ^ |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0         | @         |
// | ! |  "  |  <  |  (  |  {  |  [  |     |  /  |  *  |  +  |  =  |  sl EXTRA  | sl EXTRA  |
// | ? |  '  |  >  |  )  |  }  |  ]  |     |  $  |  &  |  |  |  #  |  SynReq    | SynReq    |
//                 | BSP | SPC | LSH |     | LCT | RET | ESC |
                        bindings = <
   &kp DE_CARET  &kp N1      &kp N2           &kp N3            &kp N4            &kp N5                 &kp N6       &kp N7       &kp N8       &kp N9        &kp N0        &kp DE_AT
   &kp DE_EXCL   &kp DE_DQT  &hm LSHFT DE_LT  &hm LGUI DE_LPAR  &hm LALT DE_LBRC  &hm LCTRL DE_LBKT      &hm RCTRL DE_FSLH  &hm LALT DE_STAR  &hm RGUI DE_PLUS  &hm RSHFT DE_EQUAL  &sl EXTRA     &sl EXTRA
   &kp DE_QMARK  &kp DE_SQT  &kp DE_GT        &kp DE_RPAR       &kp DE_RBRC       &kp DE_RBKT            &kp DE_DLLR  &kp DE_AMPS  &kp DE_PIPE  &kp DE_HASH   &kp DE_TILDE  &sl SYSTEM
                                              &kp ESC           &lt NAV SPACE     &sk LSHFT              &sk RCTRL    &kp RET      &kp BSPC
                        >;
                };
                extra_layer {
                    label = "Extra";
// -----------------------------------------------------------------------------
// | ° |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  |  @  |
// | ! |  "  |  <  |  )  |     |  ]  |     |  \  |  *  |  %  |  ~  |     |     |
// | ? |  `  |  >  |  )  |     |  ]  |     |  €  |  µ  |  |  |  ?  |  !  |     |
//                 | BSP | SPC | LSH |     | LCT | RET | ESC |
                        bindings = <
   &kp DE_DEG    &kp N1        &kp N2           &kp N3            &kp N4             &kp N5                 &kp N6       &kp N7       &kp N8        &kp N9        &kp N0       &kp DE_AT
   &kp DE_EXCL   &kp DE_DQT    &hm LSHFT DE_GT  &hm LGUI DE_RPAR  &hm LALT DE_RBRC   &hm LCTRL DE_RBKT      &hm RCTRL DE_BSLH  &hm LALT DE_STAR  &hm RGUI DE_PRCNT  &hm RSHFT DE_TILDE  &kp DE_BSLH  &none
   &kp DE_QMARK  &kp DE_GRAVE  &kp DE_GT        &kp DE_RPAR       &kp DE_RBRC        &kp DE_RBKT            &kp DE_EURO  &kp DE_AMPS  &kp DE_PIPE   &kp DE_QMARK  &kp DE_EXCL  &none
                                                &kp ESC           &lt NAV SPACE      &sk LSHFT              &sk RCTRL    &kp RET      &kp BSPC
                        >;
                };
                umlaut_layer {
                    label = "Euro";
// --------------------------------------------------------------------------------
// |   |  @  |     |  €  |     |     |       |     |  ü  |     |  ö  |  §  |      |
// |   |  ä  |  ß  |     |     |     |       |     |     |     |     |     |      |
// |   |     |     |     |     |     |       |     |     |     |     |     |      |
//                 | BSP | SPC | LSH |       | LCT | RET | ESC |
                        bindings = <
   &trans  &kp DE_AT        &trans     &kp DE_EURO  &trans     &trans           &trans     &kp DE_U_UMLAUT  &trans   &kp DE_O_UMLAUT  &kp LS(DE_N3)  &trans
   &trans  &kp DE_A_UMLAUT  &kp DE_SZ  &trans       &trans     &trans           &trans     &trans           &trans   &trans           &trans         &trans
   &trans  &trans           &trans     &trans       &trans     &trans           &trans     &trans           &trans   &trans           &trans         &trans
                                       &trans       &trans     &trans           &trans     &trans           &trans
                        >;
                };
                navigation_layer {
                    label = "Nav";
// ------------------------------------------------------------------------------------------
// |   |     |     |     |     |     |       | REDO | UNDO  | COPY | CUT | PAST      |      |
// |   |     |     |     |     |     |       |   <  |  v    |  ^   |  >  | TAB       |      |
// |   |     |     |     |     |     |       | HOME | PDOWN | PUP  | END | CAPS_WORD |      |
//                 | BSP | SPC | LSH |       | LCT | RET | ESC |
                        bindings = <
   &trans  &trans  &trans  &trans  &trans   &trans           &kp LC(R)  &kp LC(DE_Z)  &kp LC(INS)  &kp LS(DEL)  &kp LS(INS)  &trans
   &trans  &trans  &trans  &trans  &trans   &trans           &kp LEFT   &kp DOWN      &kp UP       &kp RIGHT    &kp TAB      &trans
   &trans  &trans  &trans  &trans  &trans   &trans           &kp HOME   &kp PG_DN     &kp PG_UP    &kp END      &caps_word   &trans
                           &trans  &trans   &trans           &trans     &trans     &trans
                        >;
                };
                system_layer {
                    label = "Corne";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | bt3 | bt4 | bT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5           &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &kp BSPC
   &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans 
   &kp LSHFT   &trans        &trans        &trans        &trans        &trans           &trans    &trans    &trans  &trans     &trans  &trans
                                           &kp LGUI      &trans        &kp SPACE        &kp RET   &trans    &kp RALT
                        >;
                };
        };
};

// TODOs
// [x] Navigration Layer
// [ ] Mouse Movement Layer
// [ ] Function Key Layer
// [ ] Media Key Layer
// [ ] Mouse Assist Layer
// [ ] Gaming Layer
// [ ] Macro for domain name
// [ ] Fix System Layer

